body {
    margin: 0;
    padding: 0;
    #app {
        width: 500px;
        height: 500px;
        // background-color: red;
        background-image: url("../images/微信图片_20211001095707.jpg");
    }
}